In [55]:
print('Hello world')

Hello world

In [56]:
a = 42
id(a)

140708373413592

In [57]:
num_1 = 5
num_2 = 3

In [58]:
my_result = num_1 + num_2
print(my_result)

8

In [59]:
10 % 3

1

In [60]:
27//6

4

In [61]:
print('it is fun to learn Python!')

it is fun to learn Python!

In [62]:
print("ha"*3)

hahaha

In [63]:
full_name='Anna Andersson'
full_name[:4]

'Anna'

In [64]:
founder = 'Guido'
language = 'Python'
greeting = f'Hello {founder}, {language} is really fun to learn!'
print(greeting)

Hello Guido, Python is really fun to learn!

In [65]:
my_first_tuple = (10, 5, 'hi',3)
print(my_first_tuple)

(10, 5, 'hi', 3)

In [66]:
my_tuple = ('languages', ['Python', 'Java', 'C', 'R'],
    'apples')
print(my_tuple[2])
type(my_tuple)

apples

tuple

In [67]:
type(my_tuple)

tuple

In [68]:
my_first_list = [10,5, 'hi', 3]
my_first_list[1] = 7
my_first_list
type(my_first_list)

list

In [73]:
shopping_list = ['apple', 'banana', 'grapes', 'eggs', 'milk']
len(shopping_list)
shopping_list.append('bread')

In [76]:
my_numbers = [1, 7, 2, 7, 10, 7]
my_numbers.count(7)

3

In [77]:
one_tuple = (10, 5, 3)
one_list = list(one_tuple)

In [80]:
type(one_list)
print(type)

<class 'type'>

In [11]:
my_first_dict = {'Anna' : 38, 'Goran': 19, 'Lennart': 59, 'Halimah': 28}
my_first_dict['Goran']
type(my_first_dict)

dict

In [13]:
my_range = range (5)
print(my_range)
for i in my_range:
    print(i)

range(0, 5)
0
1
2
3
4

In [14]:
A = {1,2,3,4,5}
B = {3,10,5,7}
intersection = A & B
print(intersection)

{3, 5}

In [15]:
A = {1,2,3,4,5}
B = {3,10,5,7}
A.intersection(B)

{3, 5}

In [16]:
A.union(B)

{1, 2, 3, 4, 5, 7, 10}

In [17]:
A.difference(B)

{1, 2, 4}

In [18]:
B.difference(A)

{7, 10}

In [26]:
list_a = [1,2,3,4,5]
list_b = [5,6,10,21]
set_a = set(list_a)
set_b = set(list_b)
set_a.intersection(set_b)
set_a.union(set_b)
type(set_b)

set

In [29]:
duplicate_values = (10,2,2,10,1)
my_values = set(duplicate_values)
print(my_values)

{1, 10, 2}